spotifyd/spotifyd.conf
dconf
gtk-2.0
neofetch
nitrogen
pavucontrol.ini
pulse
Pinta
*Steam*
*Unknown*
discord
mimeapps.list
mono.addins
spotify-tui
systemd
zoomus.conf
cef_user_data
google-chrome
configstore
nvim
htop
gthumb
